.card {
    border: 1px solid #888;
    padding: 2em;
    border-radius: 1em;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  }
  
.card .traffic-light {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #CCC;
    float: left;
    margin: 0 15px 15px 0;
}

.card .traffic-light.green {
    background-color: green;
}

.card .traffic-light.red {
    background-color: red;
}
